<!DOCTYPE html>
<html>
  {% extends "layout.html" %}
  {% block content %}
    <div class="detail">
      <head>
        <title> {{ speciesName }} </title>
      </head>
      <body>
        <h1>About the {{ speciesName }}</h1>
        <p> {{ description }} </p>
          <p> There will be a Delete button here </p>
          <p> <a href="{{ url_for('edit', id=speciesId) }}"> Edit entry </a> </p>
        <p> <a href="/">Back to main page</a> </p>
      </body>
    </div>
  {% endblock %}
</html>
